@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GowunBatang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #FFF;
}
.content {
    font-family: 'GowunBatang-Regular', sans-serif;
    font-size: large;
    align-self: center;
    margin-left: 4%;
}
th {
    font-family: 'GowunBatang-Bold', sans-serif;
}
th, td {
    font-size: 16px;
    padding: 2px 5px;
}
.gift {
    font-family: 'IM_Hyemin-Bold', sans-serif;
    margin: 0px 12px 12px 0px;
    width: 200px;
    height: 100px;
}
.cards {
    margin: 0px auto;
    align-self: center;
}